 <%= stylesheet_link_tag "filename" %>
<h1>Store</h1>
<div>
  <div id="one">
    <a href="/store_front/view_item" id="item1"><img src="http://netdna.walyou.netdna-cdn.com/wp-content/uploads//2010/11/Coolest_iPhone_and_iPod_Docks_Available_6.jpg"id="picture1"/></a>
  </div>
</div>
