<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
	<head>
		<title>Simple Photo Gallery with HTML and JavaScript</title>
	</head>

	<body>
        <div class="gallery" align="center">
        <h1>Another Title</h1>

          <h1>Space age apple dock</h1>
          <p>This is a space age iPhone dock. Impress your friends today!</p>
          <p>$149.99</p>

          <div class="preview" align="center">
            <img name="preview" src="http://cdn.shopify.com/s/files/1/0173/5376/products/Quirky_Converge_Docking_Station_1.jpg?v=1376067835" alt=""/>
          </div>

        <div class="thumbnails">
	          <img onmouseover="preview.src=img1.src" name="img1" src="http://icdn1.digitaltrends.com/image/belkin-apple-watch-iphone-charger-watch-and-phone-970x647-c.jpg" alt="" />
	          <img onmouseover="preview.src=img2.src" name="img2" src="https://cdn-img-0.wanelo.com/p/c0d/bb9/511/58278054211165d200f925f/full_size.jpg" alt="" />
	          <img onmouseover="preview.src=img3.src" name="img3" src="http://www.gadgetmadness.com/archives/Sinjimoru%20Sync%20and%20Charge%20Dock%20Stand%20for%20iPhone%204,%203G,%203GS,%20and%20iPod-thumb.jpg" alt="" />
	          <img onmouseover="preview.src=img4.src" name="img4" src="https://i2.wp.com/techmash.co.uk/wp-content/uploads/2013/02/il_570xN.407138632_7743.jpg" alt="" />
	          <img onmouseover="preview.src=img5.src" name="img5" src="http://www.slipperybrick.com/wp-content/uploads/2010/06/speakal-iphone-ipod-dock.jpg" alt="" />
        </div>
    </div> <!-- Close the gallery div -->
	</body>
</html>
