<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
	<head>
    <link type="stylesheet" rel="new_item_2.css"/>
		<title>Simple Photo Gallery with HTML and JavaScript</title>
	</head>

	<body>
        <div class="gallery" align="center">
        <h1>Another Title</h1>

        <h1>Pedigree Dog Food</h1>
        <p>Feed your dog what it craves.</p>
        <p>$44.00</p>

          <div class="preview" align="center">
            <img name="preview" src="http://ecx.images-amazon.com/images/I/71KPyjdumjL._SL1000_.jpg" alt=""/>
          </div>

        <div class="thumbnails">
          <img onmouseover="preview.src=img1.src" name="img1" src="http://www.thegoodshoppingguide.com/wp-content/uploads/2015/08/o-PET-FOOD-facebook.jpg" alt="" />
          <img onmouseover="preview.src=img2.src" name="img2" src="http://ecx.images-amazon.com/images/I/71KPyjdumjL._SL1000_.jpg" alt="" />
          <img onmouseover="preview.src=img3.src" name="img3" src="http://barkerybath.com/wp-content/uploads/isolated-dog-food.jpg" alt="" />
          <img onmouseover="preview.src=img4.src" name="img4" src="http://bossip.files.wordpress.com/2013/02/pet-food.jpg" alt="" />
          <img onmouseover="preview.src=img5.src" name="img5" src="http://trainingdogs101.com/wp-content/uploads/2015/06/healthy-dog-food.jpg" alt="" />
        </div>
    </div> <!-- Close the gallery div -->
	</body>
</html>
